@import 'base';

@font-face {
    font-family: "Segoe UI";
    src: url(../fonts/SegoeUI.ttf);
}

@font-face {
    font-family: "Segoe UI";
    src: url(../fonts/SegoeUIB.ttf);
    font-weight: bold;
}

html, body {
    height: 100%;
    font-size: 1vw;
    font-family: "Segoe UI";
}

body {
    margin: 0;
}

.site-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    background-color: $dark-gray;
    @include box-shadow(inset 0 0 1.25vw 0.625vw rgba(0,0,0,.5));

    .navbar-container {
        width: 100%;
        padding: 2.35vh 0;
        flex: 0 1 auto;

        .navbar-inner {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .navbar {
                width: 95%;
                padding: 1.2vh 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                text-align: center;
                font-weight: bold;
                background-color: $gray;
                border-radius: 10px;

                .brand {
                    width: 20%;

                    a {
                        color: $primary-red;
                        font-size: 3vw;
                        line-height: 2vw;
                    }
                }

                .nav-items {
                    width: 70%;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;

                    .nav-item {
                        padding: 0 1vw;

                        > * {
                            font-size: 1.2vw;
                        }

                        &.active {
                            a, a:visited {
                                color: $primary-red;
                                border-bottom-color: currentColor;
                            }
                        }

                        a, a:visited {
                            color: $secondary-red;
                            border-bottom: 0.7vh solid transparent;
                            padding: 1.2vh 0;
                        }

                        a:hover {
                            border-bottom-color: currentColor;
                        }
                    }
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .site-wrapper-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;

        .site-wrapper-inner {
            margin: 0 auto;
        }
    }
}
