$dark-gray: #2b2b2b;
$gray: #4d4d4d;
$light-gray: #a9b7c6;
$super-light-gray: #fefefe;

$primary-red: #752626;

html, body {
    height: 100%;
    font-size: 1rem;
}

body {
    margin: 0;
}

.site-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: $dark-gray;
    -webkit-box-shadow: inset 0 0 20px 10px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 20px 10px rgba(0,0,0,.5);
    box-shadow: inset 0 0 20px 10px rgba(0,0,0,.5);

    .site-wrapper-inner {
        display: flex;
        justify-content: center;
        align-items: center;

        .schedule-container {
            display: flex;
            justify-content: space-around;

            > * {
                font-family: "Consolas";
            }

            .window-container {
                position: relative;

                .top-row {
                    position: absolute;
                    left: 32px;
                    right: 16px;
                    height: 48px;
                    display: flex;
                    justify-content: space-between;
                    z-index: 1;

                    .window-title {
                        font-size: 25px;
                        color: $light-gray;
                        align-self: center;
                        z-index: 1;
                    }

                    .buttons {
                        display: flex;
                        flex-direction: row;
                        width: 88px;
                        justify-content: space-between;

                        .button {
                            width: 26px;
                            height: 26px;
                            align-self: center;
                        }

                        .grey {
                            background: $light-gray;
                        }

                        .red {
                            background: $primary-red;
                        }
                    }
                }

                .window {
                    background-color: $dark-gray;
                    border: 16px solid $gray;
                    border-top-width: 48px;
                    border-radius: 8px;
                    box-sizing: border-box;
                    z-index: -1;

                    .events {
                        display: inline-flex;
                        flex-direction: column;
                        padding: 25px 20px;

                        > * {
                            font-size: 30px;
                            color: $super-light-gray;
                        }

                        .event {
                            display: inline-flex;

                            .ide-column {
                                display: flex;
                                flex-direction: column;
                            }

                            .ide-row {
                                display: flex;
                                flex-direction: row;

                                span {
                                    white-space: pre;

                                    &.tanned {
                                        color: #d6967a;
                                    }

                                    &.blue {
                                        color: #5198d5;
                                    }

                                    &.seagreen {
                                        color: #43bda3;
                                    }

                                    &.yellow {
                                        color: #d4d7a4;
                                    }
                                }
                            }
                        }

                        .info {
                            font-size: 26px;
                            color: #5d8949;
                        }
                    }
                }
            }
        }
    }
}
