{% load static sass_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.NET events</title>
    <link rel="stylesheet" href="{% sass_src "css/site.scss" %}" media="screen">
    <link rel="stylesheet" href="{% sass_src "css/consolas-font.scss" %}" media="screen">
    {% block stylesheets %} {% endblock %}
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            {% block content %} {% endblock %}
        </div>
    </div>
    <script scr="{% static "js/bootstrap.min.js" %}"></script>
    {% block scripts %} {% endblock %}
</body>

</html>
