{% load static sass_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.NET events</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" media="screen">
    <link rel="stylesheet" href="{% sass_src 'css/site.scss' %}" media="screen">
    {% block stylesheets %} {% endblock %}
</head>

<body>
    <div class="site-wrapper">
        <div class="navbar-container">
            <div class="navbar-inner">
                <nav class="navbar">
                    <div class="brand">
                        <a href="#">.NET events</a>
                    </div>
                    <div class="nav-items">
                        <div class="nav-item">
                            <a href="#">Features</a>
                        </div>
                        <div class="nav-item">
                            <a href="#">.NET Groups</a>
                        </div>
                        <div class="nav-item">
                            <a href="#">Contact</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="site-wrapper-container">
            <div class="site-wrapper-inner">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <script scr="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %} {% endblock %}
</body>

</html>
